@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-primary: #fff7f2;
	--color-secondary: #1e201e;

	--animate-fade-in: custom-fade-in 2.3s ease-in-out forwards;
	@keyframes custom-fade-in {
		0%,
		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	--animate-custom-pulse: custom-pulse 2s ease-in-out infinite;
	@keyframes custom-pulse {
		50% {
			transform: scale(1.23);
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #1e201e;
		--color-secondary: #ecdfcc;
	}
}

body {
	color: var(--color-secondary);
	background: var(--color-primary);
	width: 100vw;
	height: 100vh;
}

.transition-custom {
	transition: all 1s;
}
